PUBLIC_BASE_URL=https://jira-variables-proxy.example
JIRA_BASE_URL=https://your-domain.atlassian.net
ENDOR_API_URL=https://api.eu.endorlabs.com
ENDOR_API_CREDENTIALS_KEY=
ENDOR_API_CREDENTIALS_SECRET=
LISTEN_ADDR=:8080
